@model PostModel
<h2>Add New Post</h2>
@using (Html.BeginForm("AddPostResult","Home",FormMethod.Post,new {@class= "form-horizontal", id="addPostForm"}))
{
    <div class="row">
        <div class="input-group col-md-12">
            <div class="form-group">
                <label for="titletext" class="control-label">Title:</label>
                @Html.TextBoxFor(m => m.Title, new {@class="form-control", id="titletext"})
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="authortext" class="control-label">Author:</label>
                @Html.TextBoxFor(m => m.Author, new {@class="form-control", id="authortext"})
                @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="bodytext" class="control-label">Body:</label>
                @Html.TextAreaFor(m => m.Body, new {@class="form-control", id="bodytext", rows="5"})
                @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
            </div>
            <div>
                <input type="button" id="addButton" class="btn btn-success box-shadow-4dp" value="Add Post"></input>
                @await Html.PartialAsync("BackButton")
            </div>
        </div>
    </div>
}
@await Html.PartialAsync("AddConfirmation")
    <script type="text/javascript">
        $(document).ready( function () {
            $("#addButton").click(function() {
                if (!$("#addPostForm").valid()) { // Not Valid
                    return false;
                } else {
                    $("#modalTitle").text("Are you sure you want to add " + $("#titletext").val() + " by " + $("#authortext").val())
                    $("#modalBody").text($("#bodytext").val())
                    $("#addConfirmation").modal("show");
                    return true;
                }
            });

            $("#confirmAddButton").click(function() {
                if (!$("#addPostForm").valid()) { // Not Valid
                    return false;
                } else {
                    $("#addPostForm").submit();
                    return true;
                }
            });
        });
    </script>