@model PostModel

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <h4>by @Model.Author <small>@Model.Timestamp.ToString("dddd, dd MMMM yyyy hh:mm tt UTC")</small></h4>
    </div>
    <div class="col-md-12" style="white-space: pre-line">
        <h5>@Model.Body.ToString()</h5>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("DeletePostResult","Home",FormMethod.Post,new {postid=Model.PostID, @class="form-group"}))
        {
            <a class="btn btn-primary" href="/Home/EditPost?postid=@Model.PostID"><span class="glyphicon glyphicon-pencil"></span> Edit Post</a>
            @Html.HiddenFor(m => m.PostID)
            @await Html.PartialAsync("~/Partials/DeleteButton", Model)
            <a class="btn btn-success" href="~/Home"><span class="glyphicon glyphicon-ok"></span> Done</a>
        }
   
    </div>
</div>